<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:decorate template="/template/template_restrito.xhtml">
        <ui:define name="conteudo">
            <h:form id="cadastro_funcionario" style="align: left;">


                <div class="ui-grid">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6 flutuando-esquerda">
                            <p:panel header="Dados Pessoais">
                                <p:outputLabel value="Nome"/>
                                <p:inputText style="margin-left: 0.5em" styleClass="inputt" value="#{MNGFuncionario.funcionario.nome}"/>
                                <br /><br />
                                <p:outputLabel value="Sobrenome"/>
                                <p:inputText style="margin-left: 0.5em;width: 80px" value="#{MNGFuncionario.funcionario.sobrenome}"/>

                                <p:outputLabel value="CPF"/>
                                <p:inputMask mask="999.999.999-99" value="#{MNGFuncionario.funcionario.cpf}"/><br /><br />

                                <p:outputLabel value="RG"/>
                                <p:inputText style="margin-left: 0.5em;width: 80px" value="#{MNGFuncionario.funcionario.rg}"/>

                                <p:outputLabel value="Email"/>
                                <p:inputText style="margin-left: 0.5em;width: 80px" value="#{MNGFuncionario.funcionario.email}"/>

                                <p:outputLabel value="Telefone"/>
                                <p:inputMask mask="(99) 9999-9999" value="#{MNGFuncionario.funcionario.telefone}"/><br /><br />

                                <p:outputLabel value="Cargo" style="vertical-align: middle;"/>
                                <p:selectOneMenu id="cargos" value="#{MNGFuncionario.funcionario.cargo}" style="width:180px;margin-left: 0.5em;" converter="cargoConverter">
                                    <f:selectItem itemLabel="Selecione o Cargo" />
                                    <f:selectItems value="#{MNGCargo.listar()}" var="c" itemValue="#{c}" itemLabel="#{c.nome}" />
                                </p:selectOneMenu>



                                <p:outputLabel value="Escala" style="vertical-align: middle;"/>
                                <p:selectOneMenu id="escalas" value="#{MNGFuncionario.funcionario.escala}" style="width:180px;margin-left: 0.5em;" converter="escalaConverter">
                                    <f:selectItem itemLabel="Selecione a Escala" />
                                    <f:selectItems value="#{MNGEscala.listar()}" var="escala" itemValue="#{escala}" itemLabel="#{escala.nome}" />
                                </p:selectOneMenu>


                                <p:outputLabel value="Valor Hora"/>
                                <p:inputText style="margin-left: 0.5em" styleClass="inputt" value="#{MNGFuncionario.funcionario.valorhora}"/>
                                <br /><br />

                                <p:outputLabel value="Valor Hora Extra"/>
                                <p:inputText style="margin-left: 0.5em" styleClass="inputt" value="#{MNGFuncionario.funcionario.valorhoraextra}"/>
                                <br /><br />

                            </p:panel> 

                        </div>


                        <div class="ui-grid-col-6 flutuando-esquerda">
                            <p:panel header="Dados de Localização">

                                <p:outputLabel value="País" style="vertical-align: middle;"/>
                                <p:selectOneMenu id="paises" value="#{MNGFuncionario.pais}" style="width:180px;margin-left: 0.5em;" converter="paisConverter">
                                    <f:selectItem itemLabel="Selecione o País" />
                                    <f:selectItems value="#{MNGPais.listar()}" var="p" itemValue="#{p}" itemLabel="#{p.nome}" />
                                    <p:ajax update="estados" />
                                </p:selectOneMenu>



                                <p:outputLabel value="Estado" style="vertical-align: middle;"/>
                                <p:selectOneMenu id="estados" value="#{MNGFuncionario.estado}" style="width:180px;margin-left: 0.5em;" converter="estadoConverter">
                                    <f:selectItem itemLabel="Selecione o Estado" />
                                    <f:selectItems value="#{MNGEstado.preencheComboEstados(MNGFuncionario.pais.id)}" var="es" itemValue="#{es}" itemLabel="#{es.nome}" />
                                    <p:ajax update="cidades" />
                                </p:selectOneMenu>

                                <p:outputLabel value="Cidade" style="vertical-align: middle;"/>
                                <p:selectOneMenu id="cidades" value="#{MNGFuncionario.endereco.cidade}" style="width:180px;margin-left: 0.5em;" converter="cidadeConverter">
                                    <f:selectItem itemLabel="Selecione a Cidade" />
                                    <f:selectItems value="#{MNGCidade.preencheComboCidades(MNGFuncionario.estado.id)}" var="c" itemValue="#{c}" itemLabel="#{c.nome}" />
                                </p:selectOneMenu>


                                <p:outputLabel value="Rua"/>
                                <p:inputText style="margin-left: 0.5em" styleClass="inputt" value="#{MNGFuncionario.endereco.rua}"/>
                                <br /><br />

                                <p:outputLabel value="Número"/>
                                <p:inputText style="margin-left: 0.5em" styleClass="inputt" value="#{MNGFuncionario.endereco.numero}"/>
                                <br /><br />

                                <p:outputLabel value="Complemento"/>
                                <p:inputText style="margin-left: 0.5em" styleClass="inputt" value="#{MNGFuncionario.endereco.complemento}"/>
                                <br /><br />

                                <p:outputLabel value="CEP"/>
                                <p:inputMask mask="99999-999" value="#{MNGFuncionario.endereco.cep}"/><br /><br />
                                <br /><br />


                                <p:outputLabel value="Bairro"/>
                                <p:inputText style="margin-left: 0.5em" styleClass="inputt" value="#{MNGFuncionario.endereco.bairro}"/>
                                <br /><br />


                                <br /><br />
                                <h:form>        
                                    <h:panelGrid columns="3" cellpadding="5">
                                        <p:photoCam widgetVar="pc" listener="#{photoCamView.oncapture}" update="photo" />
                                        <p:commandButton type="button" value="Capture" onclick="PF('pc').capture()"/>
                                        <p:outputPanel id="photo">
                                            <p:graphicImage library="resources/fotossalvas" name="resources/fotossalvas/#{photoCamView.filename}.jpg" rendered="#{not empty photoCamView.filename}"/>
                                        </p:outputPanel>
                                    </h:panelGrid>
                                </h:form>

                                <br /><br /><br />

                                <p:commandButton value="Salvar" action="#{MNGFuncionario.salvar()}" update="cadastro_funcionario"/>

                            </p:panel>
                            <br />

                        </div>
                    </div>
                </div>     




            </h:form>
        </ui:define>
    </ui:decorate>
</html>