<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:decorate template="/template/template_restrito.xhtml">
        <ui:define name="conteudo">
            <h:form id="cadastro_funcionario" style="align: left;">


                <div class="ui-grid">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6 flutuando-esquerda" style="min-width: 720px;max-width: 720px;">
                            <p:panel header="Dados Pessoais">
                                <br /><br />
                                <p:outputLabel value="Nome"/>
                                <p:inputText style="margin-left: 0.5em; width: 200px;" styleClass="inputt" value="#{MNGFuncionario.funcionario.nome}"/>

                                <p:outputLabel value="Sobrenome" style="margin-left: 2em;"/>
                                <p:inputText style="margin-left: 0.5em;width: 356px;" value="#{MNGFuncionario.funcionario.sobrenome}"/>

                                <br /><br />
                                <p:outputLabel value="CPF" style="margin-left: 0.7em;" />
                                <p:inputMask style="margin-left: 0.5em;" mask="999.999.999-99" value="#{MNGFuncionario.funcionario.cpf}"/>

                                <p:outputLabel value="RG" style="margin-left: 2em;"/>
                                <p:inputText style="margin-left: 0.5em;width: 180px" value="#{MNGFuncionario.funcionario.rg}"/>

                                <p:outputLabel value="Telefone" style="margin-left: 2em;"/>
                                <p:inputMask style="margin-left: 0.5em;width: 190px;" mask="(99) 9999-9999" value="#{MNGFuncionario.funcionario.telefone}"/><br /><br />

                                <p:outputLabel value="Email"/>
                                <p:inputText style="margin-left: 0.5em;width: 250px" value="#{MNGFuncionario.funcionario.email}"/>

                                <p:selectOneMenu id="cargos" value="#{MNGFuncionario.funcionario.cargo}" style="width:169px;margin-left: 0.5em;" converter="cargoConverter">
                                    <f:selectItem itemLabel="Selecione o Cargo" />
                                    <f:selectItems value="#{MNGCargo.listar()}" var="c" itemValue="#{c}" itemLabel="#{c.nome}" />
                                </p:selectOneMenu>



                                <p:selectOneMenu id="escalas" value="#{MNGFuncionario.funcionario.escala}" style="width:169px;margin-left: 0.5em;" converter="escalaConverter">
                                    <f:selectItem itemLabel="Selecione a Escala" />
                                    <f:selectItems value="#{MNGEscala.listar()}" var="escala" itemValue="#{escala}" itemLabel="#{escala.nome}" />
                                </p:selectOneMenu>
                                <br /><br />
                            </p:panel> 

                        </div></div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6 flutuando-esquerda" style="margin-top: 2em; min-width: 720px;max-width: 720px;">

                            <p:panel header="Dados de Localização">
                                <br /><br />
                                <p:selectOneMenu id="paises" value="#{MNGFuncionario.pais}" style="width:180px;margin-right: 2.4em;" converter="paisConverter">
                                    <f:selectItem itemLabel="Selecione o País" />
                                    <f:selectItems value="#{MNGPais.listar()}" var="p" itemValue="#{p}" itemLabel="#{p.nome}" />
                                    <p:ajax update="estados" />
                                </p:selectOneMenu>



                                <p:selectOneMenu id="estados" value="#{MNGFuncionario.estado}" style="width:180px;margin-right: 2.4em;" converter="estadoConverter">
                                    <f:selectItem itemLabel="Selecione o Estado" />
                                    <f:selectItems value="#{MNGEstado.preencheComboEstados(MNGFuncionario.pais.id)}" var="es" itemValue="#{es}" itemLabel="#{es.nome}" />
                                    <p:ajax update="cidades" />
                                </p:selectOneMenu>

                                <p:selectOneMenu id="cidades" value="#{MNGFuncionario.endereco.cidade}" style="width:180px;margin-left: 0.5em;" converter="cidadeConverter">
                                    <f:selectItem itemLabel="Selecione a Cidade" />
                                    <f:selectItems value="#{MNGCidade.preencheComboCidades(MNGFuncionario.estado.id)}" var="c" itemValue="#{c}" itemLabel="#{c.nome}" />
                                </p:selectOneMenu>

                                <br /><br />
                                <p:outputLabel value="Rua"/>
                                <p:inputText style="margin-left: 0.5em; width: 400px;margin-right: 2em;" value="#{MNGFuncionario.endereco.rua}"/>

                                <p:outputLabel value="Número"/>
                                <p:inputText style="margin-left: 0.5em; width: 110px;" styleClass="inputt" value="#{MNGFuncionario.endereco.numero}"/>
                                <br /><br />

                                <p:outputLabel value="Complemento"/>
                                <p:inputText style="margin-left: 0.5em; margin-right: 2em;" value="#{MNGFuncionario.endereco.complemento}"/>

                                <p:outputLabel value="CEP"/>
                                <p:inputMask style="margin-left: 0.5em; margin-right: 2em;width: 110px;" mask="99999-999" value="#{MNGFuncionario.endereco.cep}"/>

                                <p:outputLabel value="Bairro"/>
                                <p:inputText style="margin-left: 0.5em; margin-right: 2em;" value="#{MNGFuncionario.endereco.bairro}"/>
                                <br /><br />

                            </p:panel>
                            <br />

                        </div>
                    </div>




                    <!-- DADOS DA CONTRATACAO -->
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6 flutuando-esquerda" style="margin-top: 2em; min-width: 720px;max-width: 720px;">

                            <p:panel header="Dados de Contratação">

                                <br /><br />
                                <p:outputLabel value="Valor Hora"/>
                                <p:inputText style="margin-left: 0.5em; width: 95px; margin-right: 2em;" styleClass="inputt" value="#{MNGFuncionario.funcionario.valorhora}"/>

                                <p:outputLabel value="Valor Hora Extra"/>
                                <p:inputText style="margin-left: 0.5em; width: 95px; margin-right: 2em;" styleClass="inputt" value="#{MNGFuncionario.funcionario.valorhoraextra}"/>

                                <p:outputLabel value="Data de Contratação"/>
                                <p:inputMask style="margin-left: 0.5em;width: 100px;" mask="99/99/9999" value="#{MNGFuncionario.funcionario.datacontratacao}"/>

                                <br /><br /><br />

                                <p:commandButton style="font-size: 1.5em;" value="Salvar" action="#{MNGFuncionario.salvar()}" update="cadastro_funcionario"/>
                                <br /><br />
                            </p:panel>
                            <br />

                        </div>

                        <!-- FIM DADOS DA CONTRATACAO -->




                    </div>
                </div>     




            </h:form>
        </ui:define>
    </ui:decorate>
</html>