<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:decorate template="/template/template_restrito.xhtml">
        <ui:define name="conteudo">
            <h:form id="cadastro_funcionario" style="align: left;">


                <div class="ui-grid">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6 flutuando-esquerda" style="min-width: 720px;max-width: 720px;">
                            <p:panel header="Lista de Funcionários">
                                <p:dataTable rows="10" paginatorPosition="bottom" paginator="true" var="funcionario" value="#{MNGFuncionario.listar()}" emptyMessage="Nenhum funcionário foi cadastrado até o momento.">
                                    <p:column headerText="ID"> #{funcionario.id} </p:column>
                                    <p:column headerText="Nome"> #{funcionario.nome} </p:column>
                                    <p:column headerText="Telefone"> #{funcionario.telefone} </p:column>
                                    <p:column headerText="Opções" >
                                        <p:commandButton value="+" action="ver.jsf">
                                            <f:setPropertyActionListener target="#{MNGFuncionario.funcionario}"
                                                                         value="#{funcionario}" />      
                                        </p:commandButton>
                                        
                                        <p:commandButton value="Editar" action="#{MNGFuncionario.editar(funcionario)}">
                                            <f:setPropertyActionListener target="#{MNGFuncionario.funcionario}"
                                                                         value="#{funcionario}" />      
                                        </p:commandButton>
                                        <p:commandButton value="Remover" 
                                                         action="#{MNGFuncionario.remover(funcionario)}" update=":cadastro_funcionario">
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>


                            </p:panel> 

                        </div>

                    </div>
                </div>     




            </h:form>
        </ui:define>
    </ui:decorate>
</html>