<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:decorate template="/template/template_restrito.xhtml">
        <ui:define name="conteudo">
            <h:form id="cadastro_escala" style="align: left;">
                

                <div class="ui-grid">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6 flutuando-esquerda" style="min-width: 720px;max-width: 720px;">
                            <p:panel  header="Dados da escala">

                                <br /><br />
                                <p:outputLabel value="Nome"/>
                                <p:inputText style="margin-left: 0.5em; width: 520px;" styleClass="inputt" value="#{MNGEscala.escala.nome}"/>
                                <br /><br />

                                    <p:pickList showCheckbox="true" style="font-size: 1.3em;" id="horarios" converter="pickListHorariosConverter"
                                                addAllLabel="Adicionar Todos" 
                                                addLabel="Adionar Selecionado" removeLabel="Remover Selecionado" 
                                                removeAllLabel="Remover Todos"  
                                                value="#{MNGEscala.horarioDualList}" var="horario" 
                                                itemLabel="#{horario.toString()}" itemValue="#{horario}">  
                                        <f:facet name="sourceCaption">Horários</f:facet>  
                                        <f:facet name="targetCaption">Horários Selecionados</f:facet>  
                                    </p:pickList>
                                
                                <br /><br /><br />
                                <p:commandButton style="font-size: 1.5em;" value="Salvar" action="#{MNGEscala.salvar()}" update=":cadastro_escala"/>

                            </p:panel>


                        </div>
                    </div>     

                </div>


            </h:form>


        </ui:define>
    </ui:decorate>
</html>