<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>EasyPoint</title>

        <link rel="stylesheet" href="assets/css/font-awesome.min.css" />

        <style type="text/css">
            body {background-color: #ffffff; font-size: 12px; margin: 0; padding: 0;}
            .inputt{
                width: 300px;
            }

            .ui-layout-unit .ui-layout-unit-content{
                overflow: visible;
            }

            .flutuando-esquerda{
                float: left;
                margin-right: 2em;
            }
            .ui-widget .ui-widget {
                vertical-align: middle;
            }

            .botao_grid{
                font-size: 0.8em;
            }
            .ui-picklist .ui-picklist-list{
                width: 250px;
                text-align: left;
            }

            .header-two-bars{
                font:13px Arial, Helvetica, sans-serif;
            }

            .header-two-bars .header-limiter{
                width: 990px;
                text-align: center;
                margin: 0 auto;
            }

            /* Logo */

            .header-two-bars h1{
                float: left;
                font: normal 28px Cookie, Arial, Helvetica, sans-serif;
                line-height: 40px;
                margin: 0;
            }

            .header-two-bars h1 span {
                color: #2B5773;
            }

            /* Primeira Barra */

            .header-two-bars .header-first-bar{
                background-color:#292c2f;
                box-shadow:0 1px 1px #ccc;
                padding: 20px 40px;
                height: 80px;
                color: #ffffff;
                box-sizing: border-box;
            }

            .header-two-bars .header-first-bar a {
                color: #ffffff;
                text-decoration: none;
            }

            .header-two-bars .header-first-bar nav {
                font:14px Arial, Helvetica, sans-serif;
                line-height: 40px;
                float: left;
                margin: 0 0 0 60px;
                padding: 0;
            }

            .header-two-bars .header-first-bar nav a{
                display: inline-block;
                padding: 0 5px;
                opacity: 0.9;
                text-decoration:none;
                line-height: 1;
            }

            .header-two-bars .header-first-bar nav a:hover {
                opacity: 1;
            }

            .header-two-bars .header-first-bar nav a.selected {
                border-radius: 2px;
                background-color: #2B5773;
                padding: 8px 12px;
            }

            .header-two-bars .header-first-bar a.logout-button {
                font-size: 13px;
                font-weight: bold;
                float: right;
                border-radius: 3px;
                background-color: rgba(58, 60, 62, 0);
                height: 40px;
                padding: 0 20px;
                border: 1px solid #5E6367;
                line-height: 40px;
                box-sizing: border-box;
            }


            /* Segunda Barra */

            .header-two-bars .header-second-bar {
                background-color: #ffffff;
                box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.05);
                padding: 20px 40px;
            }

            .header-two-bars .header-second-bar h2 {
                line-height: 20px;
                margin: 0;
                float: left;
            }

            .header-two-bars .header-second-bar h2 a {
                font-size: 16px;
                color: #4e5359;
                text-decoration: none;
            }

            .header-two-bars .header-second-bar nav {
                text-align: right;
                line-height: 20px;
                font-size: 16px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .header-two-bars .header-second-bar nav a {
                display: inline-block;
                color: #4e5359;
                text-decoration: none;
                padding-left: 1em;
            }

            .header-two-bars .header-second-bar nav i.fa {
                color: #A9B7BF;
                margin: 0 4px 0 15px;
            }



            /*RODAPE*/
            .footer-basic-centered{
                background-color: #292c2f;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
                box-sizing: border-box;
                width: 100%;
                text-align: center;
                font: normal 18px sans-serif;

                padding: 45px;
                margin-top: 80px;
                position: absolute;
                bottom: 0;
            }

            .footer-basic-centered .footer-company-motto{
                color:  #8d9093;
                font-size: 24px;
                margin: 0;
            }

            .footer-basic-centered .footer-company-name{
                color:  #8f9296;
                font-size: 14px;
                margin: 0;
            }

            .footer-basic-centered .footer-links{
                list-style: none;
                font-weight: bold;
                color:  #ffffff;
                padding: 35px 0 23px;
                margin: 0;
            }

            .footer-basic-centered .footer-links a{
                display:inline-block;
                text-decoration: none;
                color: inherit;
            }

            .ui-widget{
                font-size: 1em;
            }
        </style> 

    </h:head>
    <h:body>
        <script language="JavaScript">
            var logado = #{MNGAdministrador.verificaSessao()};
            if (!logado) {
                window.location = "index.jsf?faces-redirect=true";
            }
        </script> 
        <h:form>
            <header class="header-two-bars">

                <div class="header-first-bar">

                    <div class="header-limiter">

                        <h1><a href="#">Easy<span>Point</span></a></h1>

                        <nav>
                            <a href="#">Item</a>
                            <a href="#" class="selected">Item Selecionado</a>
                            <a href="#">Item</a>
                            <a href="#">Item</a>
                        </nav>

                        <a href="sair.jsf" class="logout-button">Sair</a>
                    </div>

                </div>

                <div class="header-second-bar">

                    <div class="header-limiter">
                        <h2><a href="#">Olá #{MNGAdministrador.administrador.nome}</a></h2>

                        <nav>
                            <a href="#">Minha Conta</a>
                        </nav>

                    </div>

                </div>

            </header>
        </h:form>

    

            <p:layout style="min-width:1020px;max-width:1020px;height: 100%; margin: 0 auto; margin-top: 4em;">  

                <p:layoutUnit position="west" style="border: none;">  
                    <ui:insert name="menu">
                        <h:form>
                            <p:growl id="messages" showDetail="true"/>

                            <p:slideMenu style="width:220px" backLabel="Voltar">
                                <p:submenu label="Funcionários">
                                    <p:menuitem action="/funcionarios/cadastrar.jsf" value="Cadastrar" update="messages" />
                                    <p:menuitem action="/funcionarios/listar.jsf" value="Listar" update="messages" />
                                </p:submenu>
                                <p:menuitem action="/cargos/cadastrar.jsf" value="Cargos" update="messages" />
                                <p:submenu label="Escalas de Horarários">
                                    <p:menuitem value="Cadastrar" update="messages" />
                                    <p:menuitem value="Listar" update="messages" />                            
                                </p:submenu>
                                <p:menuitem action="/horarios/cadastrar.jsf" value="Horários" update="messages" />
                                <p:submenu label="Administradores">
                                    <p:menuitem value="Cadastrar" update="messages" />
                                    <p:menuitem value="Listar" update="messages" />                            
                                </p:submenu>
                                <p:submenu label="Registro de Ponto">
                                    <p:menuitem value="Cadastrar" update="messages" />
                                    <p:menuitem value="Listar" update="messages" />                            
                                </p:submenu>
                                <p:menuitem value="Relatórios" />
                                <p:menuitem value="Pagamento" />

                                <p:separator  />
                                <p:menuitem value="Configurações" />
                                <p:menuitem value="Sair" action="#{MNGAdministrador.finalizaSessao()}" />
                            </p:slideMenu>

                        </h:form>
                    </ui:insert>
                </p:layoutUnit>  
                <p:layoutUnit position="center" style="border: none;">  
                    <ui:insert name="conteudo">
                        O que estiver aqui será substituido!
                    </ui:insert>
                </p:layoutUnit>  
            </p:layout>  
    


        <footer class="footer-basic-centered" style="display: none;">

            <p class="footer-company-motto">EasyPoint</p>

            <p class="footer-company-name">by Anonymous</p>

        </footer>
    </h:body>
</html>