<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:decorate template="/template/template_restrito.xhtml">
        <ui:define name="conteudo">
            <h:form id="cadastro_cargo" style="align: left;">


                <div class="ui-grid">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6 flutuando-esquerda" style="min-width: 720px;max-width: 720px;">
                            <p:panel  header="Dados do Cargo">
                                
                                <br />
                                <p:outputLabel value="Nome"/>
                                <p:inputText style="margin-left: 0.5em; width: 200px;" styleClass="inputt" value="#{MNGCargo.cargo.nome}"/>
                                <p:commandButton style="font-size: 1em; margin-left: 2em;" value="Salvar" action="#{MNGCargo.salvar()}" update=":cadastro_cargo"/>
                               <br /><br />
                            </p:panel> 
                            <p:panel  header="Lista de Cargo">
                                <p:dataTable rows="10" paginatorPosition="bottom" paginator="true" var="cargo" value="#{MNGCargo.listar()}" emptyMessage="Nenhum cargo foi cadastrado até o momento.">
                                    <p:column headerText="ID"> #{cargo.id} </p:column>
                                    <p:column headerText="Nome"> #{cargo.nome} </p:column>

                                    <p:column headerText="Opções" >


                                        <p:commandButton style="font-size: 0.8em; margin-right: 0.5em;" value="Editar" update=":cadastro_cargo">
                                            <f:setPropertyActionListener target="#{MNGCargo.cargo}"
                                                                         value="#{cargo}"/>      
                                        </p:commandButton>
                                        <p:commandButton style="font-size: 0.8em;" value="Remover" 
                                                         action="#{MNGCargo.remover(cargo)}" update=":cadastro_cargo">
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>


                            </p:panel>


                        </div>
                    </div>     

                </div>


            </h:form>


        </ui:define>
    </ui:decorate>
</html>