<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:decorate template="/template/template_restrito.xhtml">
        <ui:define name="conteudo">
            <h:form id="cadastro_horario" style="align: left;">


                <div class="ui-grid">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6 flutuando-esquerda" style="min-width: 720px;max-width: 720px;">
                            <p:panel  header="Dados do Horário">

                                <br />
                                <p:selectOneMenu id="dia" value="#{MNGHorario.horario.dia}" style="width:180px;margin-left: 0.5em;" >
                                    <f:selectItem itemLabel="Selecione o Dia" />
                                    <f:selectItem itemValue="Segunda" itemLabel="Segunda" />
                                    <f:selectItem itemValue="Terca" itemLabel="Terca" />
                                    <f:selectItem itemValue="Quarta" itemLabel="Quarta" />
                                    <f:selectItem itemValue="Quinta" itemLabel="Quinta" />
                                    <f:selectItem itemValue="Sexta" itemLabel="Sexta" />
                                    <f:selectItem itemValue="Sabado" itemLabel="Sabado" />
                                    <f:selectItem itemValue="Domingo" itemLabel="Domindo" />
                                </p:selectOneMenu>

                                <p:selectOneMenu id="entrada" value="#{MNGHorario.horario.horaentrada}" style="width:180px;margin-left: 0.5em;">
                                    <f:selectItem itemLabel="Hora Entrada" />
                                    <f:selectItem itemValue="00:00" itemLabel="00:00" />
                                    <f:selectItem itemValue="01:00" itemLabel="01:00" />
                                    <f:selectItem itemValue="02:00" itemLabel="02:00" />
                                    <f:selectItem itemValue="03:00" itemLabel="03:00" />
                                    <f:selectItem itemValue="04:00" itemLabel="04:00" />
                                    <f:selectItem itemValue="05:00" itemLabel="05:00" />
                                    <f:selectItem itemValue="06:00" itemLabel="06:00" />
                                    <f:selectItem itemValue="07:00" itemLabel="07:00" />
                                    <f:selectItem itemValue="08:00" itemLabel="08:00" />
                                    <f:selectItem itemValue="09:00" itemLabel="09:00" />
                                    <f:selectItem itemValue="10:00" itemLabel="10:00" />
                                    <f:selectItem itemValue="11:00" itemLabel="11:00" />
                                    <f:selectItem itemValue="12:00" itemLabel="12:00" />
                                    <f:selectItem itemValue="13:00" itemLabel="13:00" />
                                    <f:selectItem itemValue="14:00" itemLabel="14:00" />
                                    <f:selectItem itemValue="15:00" itemLabel="15:00" />
                                    <f:selectItem itemValue="16:00" itemLabel="16:00" />
                                    <f:selectItem itemValue="17:00" itemLabel="17:00" />
                                    <f:selectItem itemValue="18:00" itemLabel="18:00" />
                                    <f:selectItem itemValue="19:00" itemLabel="19:00" />
                                    <f:selectItem itemValue="20:00" itemLabel="20:00" />
                                    <f:selectItem itemValue="21:00" itemLabel="21:00" />
                                    <f:selectItem itemValue="22:00" itemLabel="22:00" />
                                    <f:selectItem itemValue="23:00" itemLabel="23:00" />

                                </p:selectOneMenu>

                                <p:selectOneMenu id="saida" value="#{MNGHorario.horario.horasaida}" style="width:180px;margin-left: 0.5em;">
                                    <f:selectItem itemLabel="Hora Saida" />
                                    <f:selectItem itemValue="00:00" itemLabel="00:00" />
                                    <f:selectItem itemValue="01:00" itemLabel="01:00" />
                                    <f:selectItem itemValue="02:00" itemLabel="02:00" />
                                    <f:selectItem itemValue="03:00" itemLabel="03:00" />
                                    <f:selectItem itemValue="04:00" itemLabel="04:00" />
                                    <f:selectItem itemValue="05:00" itemLabel="05:00" />
                                    <f:selectItem itemValue="06:00" itemLabel="06:00" />
                                    <f:selectItem itemValue="07:00" itemLabel="07:00" />
                                    <f:selectItem itemValue="08:00" itemLabel="08:00" />
                                    <f:selectItem itemValue="09:00" itemLabel="09:00" />
                                    <f:selectItem itemValue="10:00" itemLabel="10:00" />
                                    <f:selectItem itemValue="11:00" itemLabel="11:00" />
                                    <f:selectItem itemValue="12:00" itemLabel="12:00" />
                                    <f:selectItem itemValue="13:00" itemLabel="13:00" />
                                    <f:selectItem itemValue="14:00" itemLabel="14:00" />
                                    <f:selectItem itemValue="15:00" itemLabel="15:00" />
                                    <f:selectItem itemValue="16:00" itemLabel="16:00" />
                                    <f:selectItem itemValue="17:00" itemLabel="17:00" />
                                    <f:selectItem itemValue="18:00" itemLabel="18:00" />
                                    <f:selectItem itemValue="19:00" itemLabel="19:00" />
                                    <f:selectItem itemValue="20:00" itemLabel="20:00" />
                                    <f:selectItem itemValue="21:00" itemLabel="21:00" />
                                    <f:selectItem itemValue="22:00" itemLabel="22:00" />
                                    <f:selectItem itemValue="23:00" itemLabel="23:00" />
                                </p:selectOneMenu>

                                <p:commandButton style="font-size: 1em;margin-left: 1em;" value="Salvar" action="#{MNGHorario.salvar()}" update=":cadastro_horario"/>

                                <br /><br />
                            </p:panel> 
                            <p:panel  header="Lista de Horários">
                                <p:dataTable rows="10" paginatorPosition="bottom" paginator="true" var="horario" value="#{MNGHorario.listar()}" emptyMessage="Nenhum horario foi cadastrado até o momento.">
                                    <p:column headerText="Dia"> #{horario.dia} </p:column>
                                    <p:column headerText="Hora de Entrada"> #{horario.horaentrada} </p:column>
                                    <p:column headerText="Hora de Saida"> #{horario.horasaida} </p:column>
                                    <p:column headerText="Opções" >


                                        <p:commandButton style="font-size: 0.8em;margin-right: 0.5em;" value="Editar" update=":cadastro_horario">
                                            <f:setPropertyActionListener target="#{MNGHorario.horario}"
                                                                         value="#{horario}"/>      
                                        </p:commandButton>
                                        <p:commandButton style="font-size: 0.8em;" value="Remover" 
                                                         action="#{MNGHorario.remover(horario)}" update=":cadastro_horario">
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>


                            </p:panel>


                        </div>
                    </div>     

                </div>


            </h:form>


        </ui:define>
    </ui:decorate>
</html>