<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Funcionários</title>
            </f:facet>
            <style type="text/css">
                .padding0{
                    padding: 0px;
                }

                #formulario\3a listagem_content{
                    padding: 1px;
                }
            </style>
        </h:head>
        <h:body style="width: 70%; margin: 0 auto; margin-top: 2em;">
            <p:layout>
                <!-- MENU CLIQUE BOTAO DIREITO MOUSE -->
                <h:form>              
                    <p:growl id="messages" showDetail="true"/>

                    <p:contextMenu>
                        <p:menuitem value="Save" actionListener="#{menuView.save}" update="messages" icon="ui-icon-disk"/>
                        <p:menuitem value="Update" actionListener="#{menuView.update}" update="messages" icon="ui-icon-arrowrefresh-1-w"/>
                        <p:menuitem value="Delete" actionListener="#{menuView.delete}" ajax="false" icon="ui-icon-close"/>
                        <p:menuitem value="Homepage" url="http://www.primefaces.org" icon="ui-icon-extlink"/>
                    </p:contextMenu>
                </h:form>
                
                
                <p:layoutUnit position="north" size="100" resizable="true" closable="false" collapsible="false" style="border: none;">
                    <h:form>     
                        <p:growl id="messages" showDetail="true" />

                        <p:toolbar>
                            <f:facet name="left">
                                <p:commandButton type="button" value="Novo" icon="ui-icon-document" />

                                <p:commandButton type="button" value="Abrir" icon="ui-icon-folder-open" />

                                <span class="ui-separator">
                                    <span class="ui-icon ui-icon-grip-dotted-vertical" />
                                </span>

                                <p:commandButton type="button" title="Salvar" icon="ui-icon-disk" />
                                <p:commandButton type="button" title="Deletar" icon="ui-icon-trash" />
                                <p:commandButton type="button" title="Imprimir" icon="ui-icon-print" />
                            </f:facet>

                            <f:facet name="right">
                                <p:menuButton value="#{mngFuncionario.nomeUsuarioLogado}">
                                    <p:menuitem value="Salvar" actionListener="#{toolbarView.save}" update="messages" icon="ui-icon-disk" />
                                    <p:menuitem value="Atualizar" actionListener="#{toolbarView.update}" update="messages" icon="ui-icon-arrowrefresh-1-w" />
                                    <p:menuitem value="Deletar" actionListener="#{toolbarView.delete}" ajax="false" icon="ui-icon-close" />
                                    <p:menuitem value="Início" url="" icon="ui-icon-extlink" />
                                </p:menuButton>
                            </f:facet>

                        </p:toolbar>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="false" style="border: none;">
                    Rodapé
                </p:layoutUnit>

                <p:layoutUnit position="west" size="242" collapsible="false" style="border: none;margin-left: 10px;">

                    <h:form>
                        <p:growl id="messages" showDetail="true"/>

                        <p:slideMenu style="width:220px" backLabel="Voltar">
                            <p:submenu label="Funcionário">
                                <p:menuitem value="Cadastrar" update="messages" />
                                <p:menuitem value="Listar" update="messages" />
                            </p:submenu>
                            <p:submenu label="Endereço">
                                <p:menuitem value="Cadastrar" update="messages" />
                                <p:menuitem value="Listar" update="messages" />                            
                            </p:submenu>
                            <p:submenu label="Cargo">
                                <p:menuitem value="Cadastrar" update="messages" />
                                <p:menuitem value="Listar" update="messages" />                            
                            </p:submenu>
                            <p:submenu label="Escala de Horarários">
                                <p:menuitem value="Cadastrar" update="messages" />
                                <p:menuitem value="Listar" update="messages" />                            
                            </p:submenu>
                            <p:submenu label="Administradores">
                                <p:menuitem value="Cadastrar" update="messages" />
                                <p:menuitem value="Listar" update="messages" />                            
                            </p:submenu>
                            <p:submenu label="Registro de Ponto">
                                <p:menuitem value="Cadastrar" update="messages" />
                                <p:menuitem value="Listar" update="messages" />                            
                            </p:submenu>
                            <p:menuitem value="Relatórios" />
                            <p:menuitem value="Pagamento" />


                            <p:separator  />
                            <p:submenu label="Configurações">
                                <p:submenu label="Prime Links">
                                    <p:menuitem value="Prime" url="http://www.prime.com.tr" />
                                    <p:menuitem value="PrimeFaces" url="http://www.primefaces.org" />
                                </p:submenu>
                            </p:submenu>
                            <p:menuitem value="Sair" />
                        </p:slideMenu>

                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center" style="border: none; height: 500px;">
                    <h:form id="formulario">

                        <p:fieldset id="cadastro" legend="Cadastrar Funcionário">
                            <p:outputLabel value="Nome: "/>
                            <p:inputText value="#{mngFuncionario.funcionario.nome}"/><br /><br />
                            <p:outputLabel value="Telefone: "/>
                            <p:inputMask mask="(99) 9999-9999" value="#{mngFuncionario.funcionario.telefone}"/><br /><br />
                            <p:commandButton value="Salvar" action="#{mngFuncionario.salvar()}" update="formulario"/>
                        </p:fieldset>
                        <p:panel styleClass="padding0" id="listagem" header="Funcionários Cadastrados" style="margin-top: 20px;">
                            <p:dataTable rows="10" paginatorPosition="bottom" paginator="true" var="funcionario" value="#{mngFuncionario.listar()}" emptyMessage="Nenhum funcionário foi cadastrado até o momento.">
                                <p:column headerText="ID"> #{funcionario.id} </p:column>
                                <p:column headerText="Nome"> #{funcionario.nome} </p:column>
                                <p:column headerText="Telefone"> #{funcionario.telefone} </p:column>
                                <p:column headerText="Opções" >
                                    <p:commandButton value="Editar" update=":formulario">
                                        <f:setPropertyActionListener target="#{mngFuncionario.funcionario}"
                                                                     value="#{funcionario}" />      
                                    </p:commandButton>
                                    <p:commandButton value="Remover" update=":formulario" 
                                                     action="#{mngFuncionario.remover(funcionario)}">
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                    </h:form>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>

