<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Funcionários</title>
            </f:facet>
        </h:head>
        <h:body>

            <script language="JavaScript">
                var redirecionar = #{MNGUsuario.verificaSessao()};
                if(!redirecionar){
                    window.location = "erro.jsf";
                }
            </script> 
            
            
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="100" resizable="true" closable="false" collapsible="false" style="border: none;">
                    Cabeçalho
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="false" style="border: none;">
                    Rodapé
                </p:layoutUnit>

                <p:layoutUnit position="west" size="242" header="Menu" collapsible="false" style="border: none;margin-left: 10px;">
                    <p:menu>
                        <p:submenu label="Cadastro">
                            <p:menuitem value="Funcionário" url="#" />
                            <p:menuitem value="Endereço" url="#" />
                        </p:submenu>
                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center" style="border: none;">
                    <h:form id="formulario">
                        <p:panel id="cadastro" header="Cadastrar Funcionário">
                            <p:outputLabel value="Nome: "/>
                            <p:inputText value="#{mngFuncionario.funcionario.nome}"/><br /><br />
                            <p:outputLabel value="Telefone: "/>
                            <p:inputMask mask="(99) 9999-9999" value="#{mngFuncionario.funcionario.telefone}"/><br /><br />
                            <p:commandButton value="Salvar" action="#{mngFuncionario.salvar()}" update="formulario"/>
                        </p:panel>
                        <p:panel id="listagem" header="Funcionários Cadastrados" style="margin-top: 20px;">
                            <p:dataTable var="funcionario" value="#{mngFuncionario.listar()}" emptyMessage="Nenhum funcionário foi cadastrado até o momento.">
                                <p:column headerText="ID"> #{funcionario.id} </p:column>
                                <p:column headerText="Nome"> #{funcionario.nome} </p:column>
                                <p:column headerText="Telefone"> #{funcionario.telefone} </p:column>
                                <p:column headerText="Opções" >
                                    <p:commandButton value="Editar" update=":formulario">
                                        <f:setPropertyActionListener target="#{mngFuncionario.funcionario}"
                                                                     value="#{funcionario}" />      
                                    </p:commandButton>
                                    <p:commandButton value="Remover" update=":formulario" 
                                                     action="#{mngFuncionario.remover(funcionario)}">
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                    </h:form>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>

