<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head></h:head>
<body>
	<h:outputLabel value="Você não está logado!" rendered="#{MNGUsuario.verificaSessao() eq false}" />
	<h:form rendered="#{MNGUsuario.verificaSessao()}">			
		<h:panelGrid columns="2">
			<h1>Bem Vindo: </h1>

                        <h:outputLabel value="#{MNGUsuario.usuario.usuario}" />

			<h:commandButton value="Sair"
				action="#{MNGUsuario.finalizaSessao()}" />
		</h:panelGrid>

                
	</h:form>
</body>
</html>
