<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:decorate template="/template/template_restrito.xhtml">
        <ui:define name="conteudo">
            <p:panel header="Painel">
                <br /><br />
                <h:outputLabel value="Olá! Use o menu à esquerda para navegar no sistema." />
                
                <h:outputLabel value="#{MNGMenu.navegar('cadfuncionario')}" />
               <br /><br />
               <a href="#{MNGFuncionario.navegar('cadfuncionario')}">Cadastrar Funcionario</a>
            </p:panel>
        </ui:define>
    </ui:decorate>
</html>