<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head></h:head>
    <body>
        <h:form>


            <div style="width: 700px">
                <p:pickList responsive="true" showCheckbox="true" style="font-size: 1em;" id="horarios" converter="entityConverter"
                            addAllLabel="Adicionar Todos" 
                            addLabel="Adionar Selecionado" removeLabel="Remover Selecionado" 
                            removeAllLabel="Remover Todos"  
                            value="#{pickListView.horarioDualList}" var="horario" 
                            itemLabel="#{horario.toString()}" itemValue="#{horario}">  
                    <f:facet name="sourceCaption">Horários</f:facet>  
                    <f:facet name="targetCaption">Horários Selecionados</f:facet>  
                </p:pickList>
                <p:commandButton action="#{pickListView.gravar()}" value="Salvar" update="horarios" />
            </div>
        </h:form>
    </body>
</html>
