<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:decorate template="/template/template_restrito.xhtml">
        <ui:define name="conteudo">
            <h:form id="cadastro_estado" style="align: left;">
                <p:panel header="Personal Details">

                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">

                            <div class="ui-grid-col-4 flutuando-esquerda">
                                <p:outputLabel value="Nome"/>
                                <p:inputText style="margin-left: 0.5em" styleClass="inputt" value="#{MNGEstado.estado.nome}"/>

                            </div>
                            <div class="ui-grid-col-4 flutuando-esquerda" style="margin-left: 1em;">
                                <p:outputLabel value="Sigla"/>
                                <p:inputText style="margin-left: 0.5em;width: 80px" value="#{MNGEstado.estado.sigla}"/>

                            </div>


                            <div class="ui-grid-col-4 flutuando-esquerda" style="margin-left: 1em;">
                                <p:outputLabel value="País" style="vertical-align: middle;"/>
                                <p:selectOneMenu id="paises" value="#{MNGEstado.estado.pais}" style="width:180px;margin-left: 0.5em;" converter="estadoConverter">
                                    <f:selectItem itemLabel="Selecione o País" />
                                    <f:selectItems value="#{MNGPais.listar()}" var="p" itemValue="#{p}" itemLabel="#{p.nome}" />
                                </p:selectOneMenu>
                            </div>
                        </div>

                    </div>





                    <br /><br />
                    <p:commandButton value="Salvar" action="#{MNGEstado.salvar()}" update="cadastro_estado"/>

                </p:panel> 
            </h:form>
        </ui:define>
    </ui:decorate>
</html>